/*background-color: #0f0f0f; in rgb 15,15,15*/


/*opacity in body controls all opacity*/


/*alpha channel in .all controls background only*/


/* BASE =============================*/

html {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'PT Sans', sans-serif;
  background-image: url("/media/chicago-traffic.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /*dont know if these will help. need to revisit android chrome later */
  height: 110%;
  min-height: 110%;
}

body {
  /*Opacity of content within body*/
  opacity: .8;
  /*Opacity of background itself */
  background-color: rgba(0, 0, 0, 0.7);
}


/* LAYOUT/MODULAR ===================*/


/* TITLE ************** */

#title {
  font-family: 'Rock Salt', cursive;
  font-size: 3em;
  line-height: .65;
  text-align: center;
  padding: 1.35em .23em 0em .23em;
  margin-top: 0;
  ;
}

#subtitle {
  text-align: center;
  padding: 0em 0em .23em 0em;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


/* In the player */

#player {
  text-align: center;
  width: 100%;
  padding: 0.56em 0em 1.56em 0em;
}

#playerButtonList {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

#playerToggle,
#volume {
  display: inline-block;
}

#playerToggle {
  font-size: 1.2em;
  margin-bottom: 1.23em;
  padding: .56em 1.56em .56em 1.56em;
  background-color: #0f0f0f;
  color: #FFFFFF;
  border-radius: 10%;
  border-width: 3px;
  border-color: #FFFFFF;
  border-style: solid;
  width: 6em;
}

#volumeLabel {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#volume {
  width: 75%;
  margin-bottom: 2em;
}


/* Bottom content under player */

#content {
  padding: .86em;
  padding-bottom: 1.5em;
}

.content-left {
  border-style: solid;
  border-width: 0px 0px 2px 0px;
}

.content-right {
  border-style: solid;
  border-width: 0px 0px 2px 0px;
}

#content li {
  margin-bottom: .4em;
}

footer {
  clear: both;
  line-height: 1.4em;
  padding: 1em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


/* ANIMATIONS ************************ */

#playerToggle:active {
  transform: translateY(1px);
}


/* STATE =============================*/

/* Link colors ************************/
/* unvisited link */
a:link {
  color: cyan;
}

/* visited link */
a:visited {
  color: cyan;
}

/* mouse over link */
a:hover {
  color: darkcyan;
}

/* selected link */
a:active {
  color: darkcyan;
}

/* Media queries *********************/

@media (min-width: 37em) {
  html {
    margin: 2em 5em 2em 5em;
  }
  body {
    margin-bottom: 2em;
  }
  #title {
    font-size: 3.6em;
  }
  #subtitle {
    font-size: 1.44em;
  }
  #volume {
    width: 50%;
  }
}

@media (min-width: 64em) {
  html {
    padding: 2em 0em 2em 0em;
    margin: 0em 5em 2em 5em;
  }
  .content-left {
    float: left;
    width: 50%;
    border-style: solid;
    border-width: 0px 2px 0px 0px;
  }
  .content-right {
    float: right;
    width: 47%;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
  }
  #content {
    padding: 2em;
  }
  #volume {
    width: 25%;
  }
}