/*background-color: #0f0f0f; in rgb 15,15,15*/


/*opacity in body controls all opacity*/


/*alpha channel in .all controls background only*/


/* BASE =============================*/

html {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'PT Sans', sans-serif;
  background-image: url("/media/chicagoEvening.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  opacity: .8;
}


/* LAYOUT/MODULAR ===================*/

.all {
  /*something something*/
  background-color: rgba(0, 0, 0, 0.6);
}


/* DROPDOWN MENUS ****************** */


/* Style The Dropdown Button */

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #f1f1f1
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


/* TITLE ************** */

#title {
  font-family: 'Rock Salt', cursive;
  font-size: 1.5em;
  line-height: .9em;
  text-align: center;
  padding: 1.56em .23em .23em .23em;
}

#subtitle {
  padding-top: .23em;
  font-size: .8em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


/* In the player */

#player {
  text-align: center;
  width: 100%;
  padding: 0.56em 0em 1.56em 0em;
}

#playerButtonList {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

#playerToggle,
#volume {
  display: inline-block;
}

#playerToggle {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.2em;
  margin-bottom: 1.23em;
  padding: .56em 1.56em .56em 1.56em;
  background-color: #0f0f0f;
  color: #FFFFFF;
  border-radius: 10%;
  border-width: 3px;
  border-color: #FFFFFF;
  border-style: solid;
  width: 6em;
}

#volumeLabel {}

#volume {
  width: 75%;
}


/* Bottom content under player */

#content {
  padding: .86em;
  padding-bottom: 1.5em;
}


/* ANIMATIONS ************************ */

#playerToggle:active {
  transform: translateY(1px);
}


/* STATE =============================*/

@media (min-width: 37em) {
  html {
    margin: 2em 5em 2em 5em;
  }
  #title {
    font-size: 1.8em;
  }
  #volume {
    width: 50%;
  }
}

@media (min-width: 64em) {
  html {
    font-size: 1.1em;
    padding: 2em 0em 2em 0em;
    margin: 0em 5em 2em 5em;
  }
  #content {
    padding: 2em;
  }
  #volume {
    width: 25%;
  }
}