@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
html {
  background-image: url("/media/cyberpunk-bartender.gif");
  color: #f0f0f0;
}

body {
  opacity: 1;
}

.all {
  background-color: rgba(0, 0, 0, .6);
}

#title {
  color: deeppink;
  text-shadow: 1px 1px 65px red;
  animation: blinker 3s ease-in infinite;
}


/* Subtle blink to go with the glow */
@keyframes blinker {
  50% {
    opacity: .7;
  }
}

#subtitle {
  color: #f0f0f0;
}

#playerToggle {
  border-color: cyan;
  color: cyan;
  box-shadow: 1px 1px 65px cyan;
}