version: "3"
services:

  redis:
    image: redis/redis-stack-server:latest
    container_name: redis
    expose:
      - 6379
    networks:
      internal_services:

  postgres:
    image: postgres:15-alpine
    container_name: postgres
    expose:
      - 5432
    env_file:
      - ./config/cadence.env
    networks:
      internal_services:

  icecast2:
    build:
      dockerfile: ./src/icecast2.Dockerfile
    image: kenellorando/cadence_icecast2:latest
    container_name: icecast2
    restart: always
    ports:
      - 8000:8000
    volumes:
      - ./config/icecast.xml:/etc/icecast/cadence.xml
    networks:
      external_services:
      stream_delivery:

  liquidsoap:
    build:
      dockerfile: ./src/liquidsoap.Dockerfile
    image: kenellorando/cadence_liquidsoap:latest
    container_name: liquidsoap
    restart: always
    volumes:
      - ./config/liquidsoap.liq:/etc/liquidsoap/cadence.liq
      - CADENCE_PATH_EXAMPLE:CADENCE_PATH_EXAMPLE
    depends_on:
      - icecast2
    expose:
      - 1234
    networks:
      internal_services:
      stream_delivery:

  cadence:
    build:
      context: ./src/
      dockerfile: ./cadence.Dockerfile
    image: kenellorando/cadence
    container_name: cadence
    restart: always
    ports:
      - 8080:8080
    env_file:
      - ./config/cadence.env
    volumes:
      - CADENCE_PATH_EXAMPLE:CADENCE_PATH_EXAMPLE
    depends_on:
      - icecast2
      - liquidsoap
      - redis
      - postgres
    networks:
      internal_services:
      external_services:

  nginx:
    image: nginx:latest
    volumes:
      - ./config/nginx.conf:/etc/nginx/nginx.conf
    container_name: nginx
    restart: on-failure
    ports:
      - 80:80
    depends_on:
      - cadence
    networks:
      external_services:

networks:
  external_services:
    driver: bridge
  internal_services:
    driver: bridge
  stream_delivery:
    driver: bridge
