html {
    font-family: 'Roboto', sans-serif;
    background-image: url(https://i.imgur.com/LsSTNpS.jpg);
    color: #fdfdfd;

    padding: 0;
    margin: 0em;
    margin-top: -1.5em;

    height: 105%;
}

body {
    /*Opacity of content within body*/
    opacity: .8;
    /*Opacity of background itself */
    background-color: rgba(0, 0, 0, 0.7);
    
    padding: 1em;
    margin: 0;

    min-height: 100%;
}

h1 {
    font-size: 2em;
    line-height: 1.5em;
}

.title {
    font-family: 'Rock Salt', cursive;
}

.rlight {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

a {
    color: lightgrey;
}

p {
    font-size: 1.2em;
}



@media (min-width: 37em) {
    html {
        margin: 0em;
    }
    body {
      padding: 1.5em 8em;
    }

    h1 {
        font-size: 3em;
    }
  }
  
@media (min-width: 64em) {
    body {
        padding: 3em 23em;
    }
}
  
  
/* Vertical */
@media (min-height: 43em) {
    html {
        font-size: 1.1em;
    }
}
