/*background-color: #0f0f0f; in rgb 15,15,15*/


/*opacity in body controls all opacity*/


/*alpha channel in .all controls background only*/


/* BASE =============================*/

html {
  font-size: 1em;
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'PT Sans', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /*dont know if these will help. need to revisit android chrome later */
  height: 110%;
  min-height: 110%;
  /* Keeps the horizonal scroll bar from appearing during theme transition */
  max-width: 100%;
  overflow-x: hidden;
  transition: background-image .25s ease;
  padding: 0;
  margin: 0;
}

body {
  /*Opacity of content within body*/
  opacity: .8;
  /*Opacity of background itself */
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0;
  margin: 0;
}

main {
  transform: translateX(0, 0);
  transition: transform 1s;
}

section {
  padding: 1.11em;
  padding-bottom: 0;
}

p {
  font-size: 1.1em;
  line-height: 1.3em;
}


/* LAYOUT/MODULAR ===================*/


/* TITLE ************** */

#title {
  font-family: 'Rock Salt', cursive;
  font-size: 3em;
  line-height: .65;
  text-align: center;
  padding: 1.1em .23em 0em .23em;
  margin-top: 0;
}

#title,
#subtitle {
  transition: .25s ease;
}

#subtitle {
  text-align: center;
  padding: 0em 0em .23em 0em;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


/* In the player */

#player {
  text-align: center;
  width: 100%;
  padding: 0.56em 0em 1.56em 0em;
}


/* Now playing info, song title and artist name */

#nowPlaying {
  font-size: 1.2em;
  padding: 0em 0em 0em 0em;
  min-height: 4em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#nowPlaying span {
  display: block;
  position: relative;
}

#artist_name {}

#song_title {
  font-size: 1.66em;
  padding-bottom: .76em;
}


/* start of all buttons in the player */

#playerButtonList {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

#playerToggle,
#volume {
  display: inline-block;
}

#playerToggle {
  font-size: 1.2em;
  margin-bottom: 1.23em;
  padding: .56em 1.56em .56em 1.56em;
  background-color: #0f0f0f;
  color: #FFFFFF;
  border-radius: 10%;
  border-width: 3px;
  border-color: #FFFFFF;
  border-style: outset;
  width: 6em;
}

#volumeLabel {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#volume {
  width: 75%;
  margin-bottom: 2em;
}


/* Bottom content under player */

#content {
  clear: both;
  /* In case I move the main stuff to the side */
  padding: 2em 0em;
}

.announcement {
  line-height: 1.3em;
}

.content-left {}


/* Status checker */

#statusTable {
  font-family: 'Roboto', sans-serif;
  /*display: none;*/
  font-size: 1.1em;
  background-color: rgba(0, 0, 0, .2);
}

td {
  text-align: justify;
  width: 100%;
  padding-top: .25em;
  padding-bottom: .25em;
}

.check {
  color: mediumpurple;
  text-align: center;
}

.content-right {
  border-style: solid;
  border-width: 0px 0px 0px 0px;
}

#content li {
  margin-bottom: .4em;
}


/* Changelog old */

#old {
  display: none;
}

#oldToggle {
  color: cyan;
}

#oldToggle:hover {
  color: darkcyan;
}

footer {
  clear: both;
  line-height: 1.4em;
  padding: 1em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


/* ANIMATIONS ************************ */

#playerToggle:active {
  transform: translateY(1px);
  border-style: inset;
}


/* STATE =============================*/


/* Link colors ************************/


/* unvisited link */

a:link {
  color: cyan;
}


/* visited link */

a:visited {
  color: cyan;
}


/* mouse over link */

a:hover {
  color: darkcyan;
}


/* selected link */

a:active {
  color: darkcyan;
}

.fullscreen-bg {
  display: none;
}


/* Media queries *********************/

@media (min-width: 37em) {
  html {
    font-size: 1em;
    /*margin: 2em 5em 2em 5em;*/
  }
  body {
    /*margin-bottom: 2em;*/
    padding: 2em 5em;
  }
  #title {
    font-size: 3.6em;
  }
  #subtitle {
    font-size: 1.44em;
  }
  #volume {
    width: 50%;
  }
  .announcement {
    width: 85%;
  }
  #statusTable {
    padding: .3em 1.2em;
  }
}

@media (min-width: 64em) {
  html {
    font-size: 1em;
    /*padding: 2em 0em 2em 0em;
    margin: 0em 5em 2em 5em;*/
  }
  .content-left {
    padding-bottom: 1em;
    float: left;
    width: 50%;
    border-style: solid;
    border-width: 0px 2px 0px 0px;
  }
  .content-left p {
    padding-right: 2em;
  }
  .content-right {
    float: right;
    width: 47%;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
  }
  #content {
    padding: 2em 2em 2em 2em;
    clear: both;
  }
  #nowPlaying {
    margin-bottom: 0em;
  }
  #volume {
    width: 25%;
  }
  footer {
    margin: auto;
    padding-top: 3em;
    width: 60%;
  }
}


/* Vertical */

@media (min-height: 43em) {
  html {
    font-size: 1.1em;
  }
  main {
    font-size: 1.3em;
    padding-top: 2em;
    padding-bottom: 5em;
  }
}


/* Tallest and widest screens */

@media (min-height: 43em) and (min-width: 85em) {
  body {
    padding-left: 13em;
    padding-right: 12em;
  }
}
