html {
  font-family: 'PT Sans', sans-serif;
  background-size: cover;
  background-color: #000000;
  color: #FFFFFF;
}

h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 2.5em;
  text-align: center;
  line-height: 2em;
  margin: 0;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  padding-bottom: 1.5em;
}

.heading {
  font-size: .9em;
}

body {
  padding: 1em;
}


/* Media queries *********************/

@media (min-width: 37em) {
  html {
    margin: 2em 5em 2em 5em;
  }
  body {
    /*margin-bottom: 2em;*/
    padding: 2em 5em;
  }
  #statusTable {
    padding: .3em 1.2em;
  }
}

@media (min-width: 64em) {
  html {
    padding: 2em 0em 2em 0em;
    margin: 0em 5em 2em 5em;
  }
  footer {
    margin: auto;
    padding-top: 3em;
    width: 60%;
  }
}


/* Vertical */

@media (min-height: 43em) {
  html {
    font-size: 1.1em;
  }
  main {
    font-size: 1.3em;
    padding-top: 2em;
    padding-bottom: 5em;
  }
}


/* Tallest and widest screens */

@media (min-height: 43em) and (min-width: 85em) {
  body {
    padding-left: 13em;
    padding-right: 12em;
  }
}
