@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400i');
html {
  background-image: url(/media/lauren.png);
  opacity: 1;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  /*Opacity of content within body*/
  opacity: .8;
  /*Opacity of background itself */
  background: rgba(0, 0, 0, .6);
}


/* Link colors ************************/

a:link {
  color: deepskyblue;
}

a:visited {
  color: deepskyblue;
}

a:hover {
  color: darkblue;
}

a:active {
  color: darkblue;
}

@media (min-width: 37em) {
  html {
    padding: 0;
    margin: 0;
  }
  body {
    padding: 2em 5em;
    margin: 0;
  }
}

@media (min-width: 64em) {
  main {
    transform: translateX(30%);
    transition: transform 1s;
  }
}