CSERVER_MUSIC_DIR=CADENCE_PATH_EXAMPLE
CSERVER_REQRATELIMIT=CADENCE_RATE_EXAMPLE
POSTGRES_PASSWORD=CADENCE_PASS_EXAMPLE

# ####################################################
# If you are running Cadence through Docker simply as a user,
# you are unlikely to ever need to change anything below.

# Development
CSERVER_DEVMODE=0
CSERVER_VERSION=5.4.4
CSERVER_ROOTPATH=/cadence/server/
CSERVER_LOGLEVEL=info

# Service Addresses
CSERVER_PORT=:8080
CSERVER_LIQUIDSOAPADDRESS=liquidsoap:1234
CSERVER_LIQUIDSOAPPORT=
CSERVER_ICECASTADDRESS=icecast2:8000
CSERVER_ICECASTPORT=
CSERVER_POSTGRESADDRESS=postgres
CSERVER_POSTGRESPORT=5432
CSERVER_REDISADDRESS=redis:6379
CSERVER_REDISPORT=

# Database Configuration
CSERVER_POSTGRESUSER=postgres
CSERVER_POSTGRESDBNAME=cadence
CSERVER_POSTGRESTABLENAME=metadata
CSERVER_POSTGRESSSL=disable
