events {
	worker_connections 1024;
}

http {
	# This server forwards requests to the Icecast service.
	server {
		listen 80;
		server_name CADENCE_STREAM_DNS_EXAMPLE;
		access_log off;
		location / {
			proxy_pass http://icecast2:8000/;
		}
	}

	# This server forwards requests to the API/UI server.
	server {
		listen 80;
		server_name CADENCE_WEB_DNS_EXAMPLE;
		access_log off;
		# Server-sent event API needs special configuration to get through the proxy.
		location /api/radiodata/sse {
			proxy_read_timeout 86400;
			proxy_send_timeout 86400;
			proxy_set_header Connection '';
			proxy_http_version 1.1;
			chunked_transfer_encoding off;
			proxy_buffering off;
			proxy_cache off;
			proxy_pass http://cadence:8080/api/radiodata/sse;
		}
		location / {
			proxy_pass http://cadence:8080/;
		}
	}
}
