
@media (min-width: 769px) {
	body {
		padding-left: 8%;
		padding-right: 8%;
	}
    #playerinfo {
        text-align: left;
    }
    #player #playButton {
        margin-left: 0;
        margin-right: 0;
    }
}
@media (min-width: 1200px) {
    body {
		padding-left: 16%;
		padding-right: 16%;
	}
}
@media (min-width: 1600px) {
	body {
		padding-left: 21%;
		padding-right: 21%;
	}
}

@media (min-width: 1800px) {
	body {
		padding-left: 26%;
		padding-right: 26%;
	}
}

