body {
	font-family: 'Roboto Condensed', sans-serif;
	padding-left: 5%;
	padding-right: 5%;
}

footer {
	font-size: 90%;
	max-width: 160px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

#player {
    margin-top: 2%;
    text-align: center;
}
#artworkcontainer {
    margin: 0 auto;
    border: 1px solid black;
    width: 50vw;
    height: 50vw;
    max-width: 280px;
    max-height: 280px;
}
#player #song {
	font-size: 30px;
}
#player #artist {
	font-size: 25px;
}
#player #playButton {
	/* background-color: #263635;
	color: #dddad4; */
    border: 1px solid black;
	font-size: 20px;
	text-align: center;
	padding: 11px;

	width: 80px;
	height: 45px;

	border-radius: 10%;

	cursor: pointer;
    
	margin-top: 20px;
	margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
	line-height: 100%;
}

#searchResults tr th, #searchResults tr td{
	text-align: left;
	margin-top: 20px;
	font-size: 15px;
	/* table-layout: fixed;
	width: 100%; */
}
/* #searchResults tr th:last-child {
	text-align: right;
}
#searchResults tr td:last-child {
	text-align: right;
} */

#tab-content section {
    display: none;
}
#tab-content section.is-active {
    display: block;
}


@media (min-width: 769px) {
	body {
		padding-left: 8%;
		padding-right: 8%;
	}
    #playerinfo {
        text-align: left;
    }
    #player #playButton {
        margin-left: 0;
        margin-right: 0;
    }
}
@media (min-width: 1200px) {
    body {
		padding-left: 16%;
		padding-right: 16%;
	}
    #player #song {
        max-width: 80%;
    }
}
@media (min-width: 1600px) {
	body {
		padding-left: 21%;
		padding-right: 21%;
	}
}

@media (min-width: 1800px) {
	body {
		padding-left: 26%;
		padding-right: 26%;
	}
}
