/*
@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
*/

html {
  color: #f0f0f0;
  background-image: url("https://i.imgur.com/iXOt37W.gif");
  background-position: -32em;
}

body {
  /*Opacity of content within body*/
  opacity: 1;
  /*Opacity of background itself */
  background-color: rgba(0, 0, 0, 0.7);
}

.all {
  background-color: rgba(0, 0, 0, .1);
}

#title {
  color: deeppink;
  text-shadow: 1px 1px 65px red;
}

#title span {
  animation: blinker 2s ease-in infinite;
}


/* Subtle blink to go with the glow */

@keyframes blinker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 1;
  }
  19% {
    opacity: 1;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  83% {
    opacity: 0.4;
  }
  87% {
    opacity: 1;
  }
}

#subtitle {
  color: #f0f0f0;
}

#playerToggle {
  border-color: cyan;
  color: cyan;
  box-shadow: 1px 1px 65px cyan;
}


/* Link colors */

a {
  text-shadow: 2px 2px 20px cyan;
}

a:link {
  color: cyan;
}

a:visited {
  color: cyan;
}

a:hover {
  color: deepskyblue;
}


/* Refresh status and changelog toggle buttons*/

#refreshStatus,
#oldToggle {
  color: cyan;
}

#refreshStatus:hover,
#oldToggle:hover {
  color: deepskyblue;
}


/* Resets background position to center */

@media (min-width: 30em) {
  html {
    background-position: center;
  }
}


/* In case you ever want to use this font again
@font-face {
  font-family: "vcr";
  src: url('../fonts/vcr.ttf');
}

#subtitle {
  color: #f0f0f0;
  font-family: "vcr";
  text-transform: uppercase;
}
*/