html {
  background-color: black;
  background-image: url('https://i.imgur.com/zu0h7fF.png');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

body {
  /*Opacity of content within body*/
  opacity: 1;
  /*Opacity of background itself */
  background: rgba(0, 0, 0, 0.1);
  /* Dark color for text */
  color:white;
  /* Text shadow to enhance readability */
  text-shadow: 4px 4px 15px #000, 2px 2px 2px #000;
}

* {
  font-family: 'Comic Sans MS', cursive, sans-serif !important;
}

#title {
  padding-top: 0;
}

#subtitle,
#volumeLabel,
.dropbtn,
.dropdown-content button {
  font-style: italic;
}

@media (orientation: portrait) {
  #title {
    padding-top: .25em;
  }
}
