@import url('https://fonts.googleapis.com/css?family=Bellefair');
html {
  background-color: black;
  opacity: 1;
}

body {
  /*Opacity of content within body*/
  opacity: 1;
  /*Opacity of background itself */
  background: rgba(0, 0, 0, 0);
  /* Dark color for text */
  color:white;
}

#player {
  font-family: 'Bellefair', serif;
  font-style: normal;
}

#title {
  font-family: 'Bellefair', serif;
  font-weight: 500;
  transform: scale(1.4, 1.6) translateY(-.1em);
}

#subtitle {
  font-size: 1.6em;
}

#subtitle,
#volumeLabel,
.dropbtn,
.dropdown-content button {
  font-family: 'Bellefair', serif;
  font-style: italic;
}


/* Link colors ************************/

a:link {
  color: lightgrey;
}

a:visited {
  color: lightgrey;
}

a:hover {
  color: grey;
}

a:active {
  color: lightgrey;
}

#oldToggle {
  color: lightgrey;
}

#oldToggle:hover {
  color: lightgrey;
}
