html {
  background-image: url("https://i.imgur.com/krd5rpY.jpg");
}

body {
  /*Opacity of background itself */
  background-color: transparent;
  
  /* Slight text shadowing, to make sure everything looks good */
  text-shadow: 0px 0px 1px black;
}