html {
  background-image: url("https://i.imgur.com/krd5rpY.jpg");
}

body {
  /*Opacity of background itself */
  background-color: transparent;
  
  /* Slight text shadowing, to make sure everything looks good */
  text-shadow: 0px 0px 1px black;
}

/* Increase transparency wherever we can afford it */
#playerToggle {
  background-color: rgba(5, 5, 5, 0.5) /* A bit darker, and much less opaque, than base */
}

.dropdown, #playerRequest {
  background-color: rgba(5, 5, 5, 0.7)
}

/* Needed to maintain consistency between dropdowns */
#theme-button {
  background-color: rgba(0,0,0,0)
}

.dropdown:hover .dropbtn, .dropdown:hover .dropdown-content {
  background-color: rgba(15, 15, 15, 0.9) !important; /* Bad practice, but only way this works */
  opacity: 0.9
}

#playerRequest:hover {
  background-color: rgba(5, 5, 5, 0.8)
}

#volume {
  opacity: 0.8
}

#content {
  column-rule-color: rgba(255, 255, 255, 0.75);
  -webkit-column-rule-color: rgba(255, 255, 255, 0.75);
  -moz-column-rule-color: rgba(255, 255, 255, 0.75);
}

#searchButton, .requestButton {
  background-color: rgba(0, 0, 0, 0.2)
}