@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300i,400');

html {
  background-image: url("https://i.imgur.com/krd5rpY.jpg");
}

body {
  /*Opacity of background itself */
  background-color: transparent;
  
  /* Slight text shadowing, to make sure everything looks good */
  text-shadow: 0px 0px 1px black;
}

* {
  font-family: 'Cormorant Garamond', serif;
}

#title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 64pt;
  transform: scale(1.5, 1.3);
  margin-top: -60px;
  vertical-align: middle;
}

#subtitle {
  font-style: italic;
  font-weight: light;
  font-size: 2em
}

#title span:first-child {
  display: inline-block;

  font-size: 0.8em;
  margin-left: 7px;
  margin-right: 7px;
  height: 100%;
  transform: translate(0, -12.5%)
}

/* Increase transparency wherever we can afford it */
#playerToggle {
  background-color: rgba(5, 5, 5, 0.5) /* A bit darker, and much less opaque, than base */
}

.dropdown, #playerRequest {
  background-color: rgba(5, 5, 5, 0.7)
}

/* Needed to maintain consistency between dropdowns */
#theme-button {
  background-color: rgba(0,0,0,0)
}

.dropdown:hover .dropbtn, .dropdown:hover .dropdown-content {
  background-color: rgba(15, 15, 15, 0.9) !important; /* Bad practice, but only way this works */
  opacity: 0.9
}

#playerRequest:hover {
  background-color: rgba(5, 5, 5, 0.8)
}

#volume {
  opacity: 0.8
}

#content {
  column-rule-color: rgba(255, 255, 255, 0.75);
  -webkit-column-rule-color: rgba(255, 255, 255, 0.75);
  -moz-column-rule-color: rgba(255, 255, 255, 0.75);
}

#searchButton, .requestButton {
  background-color: rgba(0, 0, 0, 0.2)
}