html {
    background-image: url("https://i.imgur.com/4jxS8Vh.jpg");
    text-shadow: 2px 2px 20px black;
    color: lightslategray;
}

body {
    /*Opacity of content within body*/
    opacity: 1;
    /*Opacity of background itself */
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 0 900px black;
}

main {
    color: lightslategrey;
}

#title {
    text-shadow: 1px 3px 10px black;
}

#subtitle{
    color:#f2f;
    color: darkred;
    animation: flash linear 2s infinite;
}

@keyframes flash {
    0% { opacity: 1; } 
    50% { opacity: .4; } 
    100% { opacity: 1; }
}

#subtitle, #nowPlaying, #volumeLabel, #version, .dropbtn, .dropdown-content button {
    font-family: 'VT323', monospace;
    font-style: italic;
    text-transform: uppercase;
}

.dropdown {
  background-color: rgba(0, 0, 0, 0);
}

button {
    color: lightslategrey;
}

.dropbtn,
.dropdown-content .dropdown-content button {
    color: lightslategrey;
  /*Opacity of background itself */
  background-color: rgba(0, 0, 0, .2);
}

#playerToggle {
    color: lightslategrey;
    border-color: grey;
    /*Opacity of content within body*/
    opacity: 1;
    /*Opacity of background itself */
    background-color: rgba(0, 0, 0, 0);
    text-shadow: -1px 1px 50px darkorchid;
}

input[type=range]::-webkit-slider-runnable-track, input[type=range]::-webkit-slider-thumb, input[type=range]:focus::-webkit-slider-runnable-track {
    background: lightslategray;
}


#search {
padding: 0 0 1.5em 0;
}

#searchInput {
    background-color: rgba(0, 0, 0, .3);
    border: none;
    width: 13em;
    color: grey;
}

#searchButton {
background-color: rgba(0, 0, 0, .3);
border: 1px lightslategray solid;
color: darkolivegreen;
padding: .2em .6em;
cursor: pointer;
}



#c, #a, #d, #e, #n, #c2, #e2 {
    color: rgb(10, 73, 145);
    text-shadow: 1px 1px 65px rgb(0, 115, 168);

    color: paleturquoise;
    animation: blinker 4s ease-in infinite;
}


#c {
    animation-delay: 0s;
}
#a {
    animation-delay: 0.2s;
}
#d {
    animation-delay: .4s;
}
#e {
    animation-delay: .6s;
}
#n {
    animation-delay: .8s;
}
#c2 {
    animation-delay: 1s;
}
#e2 {
    animation-delay: 1.2s;
}


@keyframes blinker {
    0% {
      opacity: 0.55;
    }
    10% {
      opacity: 0.65;
    }
    20% {
      opacity: .8;
    }
    30% {
      opacity: .95;
    }
    40% {
      opacity: 0.8;
    }
    50% {
      opacity: .7;
    }
    60% {
      opacity: .6;
    }
    70% {
      opacity: .5;
    }
    80% {
      opacity: .5;
    }
    90% {
        opacity: .5;
    }
    100% {
        opacity: .5;
    }
  }


/* Link colors */

a:link {
    color: darkcyan;
}

a:visited {
    color: darkcyan;
}

a:hover {
    color: darkcyan;
}


/* Refresh status and changelog toggle buttons*/

#refreshStatus,
#oldToggle {
    color: darkcyan;
}

#refreshStatus:hover,
#oldToggle:hover {
    color: darkcyan;
}


/* Resets background position to center */

@media (min-width: 30em) {
    html {
        background-position: center;
    }
}


/* Desktop */

@media (min-width: 64em) {
    html {
        background-size: 105%;
    }
}