html {
  background-image: url('https://i.imgur.com/HDQYMDp.gif');
  background-size: cover;
}

body {
  /*Opacity of background itself */
  background-color: rgba(0, 0, 0, 0.5);
  /* Opacity of body content */
  opacity: 0.95

  /*
   * Text shadows
   * Three shadows: One sharp shadow as a background, one blurred shadow as an area darken,
   * and an offset very blurred shadow to give direction
   */
  text-shadow: 0px 0px 1px black, 0px 0px 5px black, 2px 2px 10px black;
}

/* Restore some transparency to the play button's background */
#playerToggle {
  background-color: rgba(5, 5, 5, 0.7) /* A bit darker, and much less opaque, than base */
}