body {
	color: white;
	text-shadow: 1px 1px 12px rgb(115, 255, 255);
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.2);
}

nav {
	background-color: rgb(0, 0, 0, 0.2);
}

main {
	text-shadow: 1px 1px 12px rgba(255, 255, 255, 0.699);
}

a {
	color: rgb(255, 39, 237);
	text-shadow: 1px 1px 12px rgb(238, 109, 255);
}

#navLeft a {
	color: white;
	text-shadow: 1px 1px 12px rgba(255, 255, 255, 0.699);
}

#navRight a {
	color: white;
	text-shadow: 1px 1px 12px rgba(255, 255, 255, 0.699);
}

#player #song, #player #artist {
	text-shadow: 1px 1px 12px rgb(255, 255, 255);
}

div.fullscreen-bg {
	display: inline-block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
}

.fullscreen-bg-video {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }
  
#player #playButton {
	background-color: rgba(49, 183, 216, 0.438);
	color: #ffffff;
}

input[type=range]::-webkit-slider-runnable-track {
	border: none;
	background-color: rgba(49, 183, 216, 0.438);
}

input[type=range]::-moz-range-track {
	border: none;
	background-color: rgba(49, 183, 216, 0.438);
}

input[type=range]::-webkit-slider-thumb {
	border: 2px solid #ffffff;
	background: rgb(184, 89, 176);
}

input[type=range]::-moz-range-thumb {
	border: 2px solid #ffffff;
	background: rgb(184, 89, 176);
}
