@font-face {
  font-family: chikara-dzuyoku-b;
  src: url(/css/fonts/851CHIKARA-DZUYOKU_kanaB.ttf);
}

html {
  background-image: url("https://i.imgur.com/eS82fO8.png");
  text-shadow: 2px 2px 20px black;
}

body {
  /*Opacity of content within body*/
  opacity: 1;
  /*Opacity of background itself */
  background-color: rgba(0, 0, 0, 0.3);
}

#title {
  /*
  font-family: 'Sawarabi Mincho', serif;
  */
  font-family: 'chikara-dzuyoku-b', serif;
  font-style: italic;
  font-weight: 400;
  transform: scale(1.5, 1.7) translateY(-.2em);
  text-shadow: 1px 3px 10px black;
}

#ke {
  color: #e36868/*Jinx red*/
  ;
}

#i {
  color: #839bf2/*Poppy blue*/
  ;
}

#de {
  color: #ecb1e9/*Lux pink*/
  ;
}

#n {
  color: #99eea7/*Lulu green*/
  ;
}

#su {
  color: #dc79ff/*Janna purple*/
  ;
}


/* Link colors */

a:link {
  color: pink;
}

a:visited {
  color: pink;
}

a:hover {
  color: hotpink;
}


/* Refresh status and changelog toggle buttons*/

#refreshStatus,
#oldToggle {
  color: pink;
}

#refreshStatus:hover,
#oldToggle:hover {
  color: hotpink;
}


/* Resets background position to center */

@media (min-width: 30em) {
  html {
    background-position: center;
  }
}


/* Desktop */

@media (min-width: 64em) {
  html {
    background-size: 105%;
  }
}