body {
	font-family: "Roboto Condensed", sans-serif;
	padding-left: 5%;
	padding-right: 5%;
}

footer {
	font-size: 90%;
	max-width: 320px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

#player {
	margin-top: 2%;
	text-align: center;
}

#artworkcontainer {
	margin: 0 auto;
	border: 1px solid black;
	width: 50vw;
	height: 50vw;
	max-width: 240px;
	max-height: 240px;
}

#player #song {
	font-size: 24px;
}

#player #artist {
	font-size: 21px;
}

#player #playButton {
	border: 1px solid black;
	font-size: 20px;
	text-align: center;
	padding: 11px;
	width: 80px;
	height: 45px;
	border-radius: 10%;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	line-height: 100%;
}

#player #status,
#player #version {
	font-size: 14px;
}

#searchResults tr, #historyResults tr {
	max-height: 100%;
}

#searchResults tr th, #searchResults tr td, #historyResults tr th, #historyResults tr td{
	text-align: left;
	margin-top: auto;
	vertical-align: center;
	font-size: 17px;
}

#tab-content section {
    display: none;
}
#tab-content section.is-active {
    display: block;
}


#requestStatus, #historyStatus {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

@media (min-width: 769px) {
	body {
		padding-left: 16%;
		padding-right: 16%;
	}

	#playerinfo {
		text-align: left;
	}

	#player #playButton {
		margin-left: 0;
		margin-right: 0;
	}
}

@media (min-width: 1200px) {
	body {
		padding-left: 23%;
		padding-right: 23%;
	}
}

@media (min-width: 1600px) {
	body {
		padding-left: 26%;
		padding-right: 26%;
	}
}

@media (min-width: 1800px) {
	body {
		padding-left: 29%;
		padding-right: 29%;
	}

	#player #song {
		font-size: 28px;
	}

	#player #artist {
		font-size: 25px;
	}
}
