/* Everything belonging to Aria: messages, search box, results tables */

#aria {
  margin: 0em .6em;
  padding-top: 1em;
}


/* Search div */

#search {
  text-align: center;
  padding: 0 0 1.5em 0;
}

#search input {
  width: 13em;
}

#search button {
  background-color: rgba(0, 0, 0, .3);
  border: 1px deepskyblue solid;
  color: #fdfdfd;
  padding: .2em .6em;
}


/* Messages from the server */

#ariaSays {
  font-size: 1.1em;
}


/* Result table */

#results table {
  padding: 1.11em;
}

#results table th {
  text-align: left;
  border-bottom: 1px solid;
  font-size: 1.1em;
}


/* Title column */

.dataTitle {
  width: 70%;
}


/* Artist column */

.dataArtist {}


/* Request column */

.dataRequest {
  width: 10%;
}


/* Request button */

.requestButton {
  background-color: rgba(0, 0, 0, .3);
  border: 1px forestgreen solid;
  color: #fdfdfd;
  padding: .4em .6em;
}