/* made on http://www.cssportal.com/style-input-range/ 
future reference: replace animation with transition */

input[type=range] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0px 0px 1px #000000;
  background: #fdfdfd;
  border-radius: 0px;
  border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 3px #000000;
  border: 1px solid #000000;
  height: 21px;
  width: 13px;
  border-radius: 50px;
  background: #fdfdfd;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fdfdfd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0px 0px 1px #000000;
  background: #fdfdfd;
  border-radius: 0px;
  border: 1px solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 3px #000000;
  border: 1px solid #000000;
  height: 21px;
  width: 13px;
  border-radius: 50px;
  background: #fdfdfd;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  transition: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #fdfdfd;
  border: 1px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 1px #000000;
}

input[type=range]::-ms-fill-upper {
  background: #fdfdfd;
  border: 1px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 1px #000000;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 3px #000000;
  border: 1px solid #000000;
  height: 21px;
  width: 13px;
  border-radius: 50px;
  background: #fdfdfd;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #fdfdfd;
}

input[type=range]:focus::-ms-fill-upper {
  background: #fdfdfd;
}